# Dependências
node_modules
/.pnp
.pnp.js

# Next.js build
/.next/
/out/
/build

# Variáveis de ambiente (NUNCA commitar)
.env
.env.local
.env*.local

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Firebase service account (se baixar localmente)
*-firebase-adminsdk-*.json

# Firebase deploy cache
.firebase/
